.ulugo-board {
  --ulugo-board-border-width: 0.15em;
  --ulugo-board-border-color: #ca933a;

  --ulugo-board-background-color: #f1b458;
  --ulugo-board-foreground-color: #5e2e0c;

  --ulugo-black-background-color: #222;
  --ulugo-black-foreground-color: #eee;

  --ulugo-white-background-color: #eee;
  --ulugo-white-foreground-color: #222;

  position: relative;
  border: var(--ulugo-board-border-width) solid var(--ulugo-board-border-color);
  color: var(--ulugo-board-foreground-color);
}
.ulugo-board:not(.ulugo-coordinates) {
  padding: 0.25em;
}
.ulugo-board-image {
  background: url('./board.webp') var(--ulugo-board-background-color);
}
.ulugo-board-golden {
  --ulugo-board-border-color: #ca933a;
  --ulugo-board-background-color: #f1b458;
}
.ulugo-board-natural {
  --ulugo-board-border-color: #b69064;
  --ulugo-board-background-color: #dcb081;
  background-image: url('./board-grey.webp');
}
.ulugo-board-flat {
  --ulugo-board-border-color: #cec8c0;
  --ulugo-board-background-color: #ffffff;
  --ulugo-board-foreground-color: #111111;
  --ulugo-white-background-color: #ffffff;
  background-image: none;
}

.ulugo-coordx span,
.ulugo-coordy span {
  font-size: 0.6em;
}

.ulugo-vertex div {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* Board gradient */

.ulugo-board::after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--ulugo-board-border-width));
  left: calc(-1 * var(--ulugo-board-border-width));
  bottom: calc(-1 * var(--ulugo-board-border-width));
  right: calc(-1 * var(--ulugo-board-border-width));
  background:
    linear-gradient(to bottom, rgba(234, 220, 192, 0.1), transparent),
    linear-gradient(to bottom, transparent, rgba(23, 10, 2, 0.05));
  pointer-events: none;
  z-index: 3;
}
.ulugo-board-flat::after {
  display: none;
}

/* Board grid */

.ulugo-gridline,
.ulugo-hoshi {
  fill: var(--ulugo-board-foreground-color);
}

.ulugo-gridline {
  stroke: var(--ulugo-board-foreground-color);
  stroke-width: 1;
}

/* Stone render */

.ulugo-vertex .ulugo-stone {
  top: 0.04em;
  left: 0.04em;
  width: calc(100% - 0.08em);
  height: calc(100% - 0.08em);
}
.ulugo-vertex .ulugo-stone.ulugo-past-stone {
  top: 0.3em;
  left: 0.3em;
  width: calc(100% - 0.6em);
  height: calc(100% - 0.6em);
  opacity: 0.6;
}
.ulugo-vertex .ulugo-stone.ulugo-future-stone {
  top: 0.25em;
  left: 0.25em;
  width: calc(100% - 0.5em);
  height: calc(100% - 0.5em);
  opacity: 0.6;
}
.ulugo-vertex.ulugo-sign_0 .ulugo-stone {
  pointer-events: none;
}
.ulugo-vertex:not(.ulugo-sign_0) .ulugo-stone::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background: rgba(23, 10, 2, 0.4);
  box-shadow: 0 0.1em 0.2em rgba(23, 10, 2, 0.4);
}
.ulugo-vertex:not(.ulugo-sign_0) .ulugo-stone.ulugo-past-stone::before {
  box-shadow: 0 0 0.1em 0.1em rgba(255, 77, 79);
}
.ulugo-vertex .ulugo-inner {
  text-indent: -9999rem;
}
.ulugo-stone-image {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.ulugo-stone-image.ulugo-sign_1 {
  background-image: url('./stone_1.svg');
}
.ulugo-stone-image.ulugo-sign_-1 {
  background-image: url('./stone_-1.svg');
}
.ulugo-board-flat .ulugo-vertex:not(.ulugo-sign_0) .ulugo-stone::before {
  display: none;
}
.ulugo-board-flat .ulugo-stone-image {
  box-sizing: border-box;
  border-radius: 50%;
  background-image: none;
}
.ulugo-board-flat .ulugo-stone-image.ulugo-sign_1 {
  background: var(--ulugo-black-background-color);
}
.ulugo-board-flat .ulugo-stone-image.ulugo-sign_-1 {
  border: 0.04em solid var(--ulugo-white-foreground-color);
  background: var(--ulugo-white-background-color);
}

.ulugo-board-flat .ulugo-vertex.ulugo-sign_1 .ulugo-selection {
  box-shadow: 0 0 0 1px black;
}
.ulugo-board-flat .ulugo-vertex.ulugo-sign_-1 .ulugo-selection {
  border-color: var(--ulugo-black-foreground-color);
  box-shadow:
    0 0 0 1px black,
    inset 0 0 0 1px black;
}

.ulugo-board-flat .ulugo-vertex.ulugo-nextmove-sign_-1 .ulugo-movehint-next {
  border-color: #111;
}

.ulugo-board-flat .ulugo-vertex.ulugo-ownership_-1 .ulugo-ownership {
  border: 0.01em solid rgba(0, 0, 0, 0.2);
}
/* Markers */

.ulugo-vertex .ulugo-marker {
  left: 0.04em;
  top: 0.04em;
  width: calc(100% - 0.08em);
  height: calc(100% - 0.08em);
  text-align: center;
  fill: var(--ulugo-board-background-color);
  stroke: var(--ulugo-board-foreground-color);
  stroke-width: 0.07em;
  pointer-events: none;
  z-index: 2;
}
.ulugo-vertex.ulugo-sign_1 .ulugo-marker,
.ulugo-vertex.ulugo-sign_-1 .ulugo-marker {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  fill: none;
}
.ulugo-vertex.ulugo-sign_1 .ulugo-marker {
  stroke: var(--ulugo-black-foreground-color);
}
.ulugo-vertex.ulugo-sign_-1 .ulugo-marker {
  stroke: var(--ulugo-white-foreground-color);
}

.ulugo-vertex.ulugo-marker_point .ulugo-marker {
  stroke: none;
  fill: var(--ulugo-board-foreground-color);
}
.ulugo-vertex.ulugo-marker_point.ulugo-sign_1 .ulugo-marker {
  fill: var(--ulugo-black-foreground-color);
}
.ulugo-vertex.ulugo-marker_point.ulugo-sign_-1 .ulugo-marker {
  fill: var(--ulugo-white-foreground-color);
}

.ulugo-vertex.ulugo-marker_label .ulugo-marker {
  display: inline-block;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  max-width: 1.67em;
  max-height: 1.67em;
  overflow: hidden;
  background: var(--ulugo-board-background-color);
  color: var(--ulugo-board-foreground-color);
  font-size: 0.6em;
  line-height: 1.26;
  text-align: center;
  text-overflow: ellipsis;
  white-space: pre;
  transform: translate(-50%, -50%);
}
.ulugo-vertex.ulugo-marker_label.ulugo-sign_1 .ulugo-marker {
  background: transparent;
  color: var(--ulugo-black-foreground-color);
}
.ulugo-vertex.ulugo-marker_label.ulugo-sign_-1 .ulugo-marker {
  background: transparent;
  color: var(--ulugo-white-foreground-color);
}
.ulugo-vertex.ulugo-smalllabel .ulugo-marker {
  max-height: 2.7em;
  max-width: 2.7em;
  font-size: 0.36em;
}

/* Ownership map */

.ulugo-vertex .ulugo-hot-zone {
  box-sizing: border-box;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  border: 0.05em solid transparent;
  opacity: var(--ulugo-hot-zone-opacity);
  box-shadow: 0 0 0.12em #fff;
  pointer-events: none;
}
.ulugo-vertex.ulugo-hot-zone_loss .ulugo-hot-zone {
  border-color: #0878ff;
}
.ulugo-vertex.ulugo-hot-zone_gain .ulugo-hot-zone {
  border-color: #762;
}

.ulugo-vertex .ulugo-ownership {
  left: 40%;
  top: 40%;
  width: 20%;
  height: 20%;
  opacity: var(--ulugo-ownership-opacity);
  background: transparent;
  pointer-events: none;
  z-index: 2;
}
.ulugo-vertex.ulugo-ownership_1 .ulugo-ownership {
  background: var(--ulugo-black-background-color);
}
.ulugo-vertex.ulugo-ownership_-1 .ulugo-ownership {
  background: var(--ulugo-white-background-color);
}

/* Analysis overlays */

.ulugo-vertex .ulugo-analysis-overlay {
  top: 50%;
  left: 50%;
  margin-left: -0.3em;
  margin-top: -0.3em;
  border-radius: 50%;
  width: 0.6em;
  height: 0.6em;
  opacity: 0;
  pointer-events: none;
}
.ulugo-vertex .ulugo-analysis-dot {
  top: 50%;
  left: 50%;
  width: var(--ulugo-analysis-dot-size, 0.5em);
  height: var(--ulugo-analysis-dot-size, 0.5em);
  margin-left: var(--ulugo-analysis-dot-offset, -0.25em);
  margin-top: var(--ulugo-analysis-dot-offset, -0.25em);
  border-radius: 50%;
  opacity: 0.9;
  pointer-events: none;
  z-index: 1;
}
.ulugo-vertex.ulugo-analysis-strength_6 .ulugo-analysis-overlay,
.ulugo-vertex .ulugo-analysis-overlay.ulugo-analysis-strength_6 {
  background: #1e9600;
  box-shadow: 0 0 0.1em 0.1em #1e9600;
  opacity: 0.8;
}
.ulugo-vertex .ulugo-analysis-dot.ulugo-analysis-strength_6 {
  background: #1e9600;
}
.ulugo-vertex.ulugo-analysis-strength_5 .ulugo-analysis-overlay,
.ulugo-vertex .ulugo-analysis-overlay.ulugo-analysis-strength_5 {
  background: #abde2e;
  box-shadow: 0 0 0.1em 0.1em #abde2e;
  opacity: 0.7;
}
.ulugo-vertex .ulugo-analysis-dot.ulugo-analysis-strength_5 {
  background: #abde2e;
}
.ulugo-vertex.ulugo-analysis-strength_4 .ulugo-analysis-overlay,
.ulugo-vertex .ulugo-analysis-overlay.ulugo-analysis-strength_4 {
  background: #f2f200;
  box-shadow: 0 0 0.1em 0.1em #f2f200;
  opacity: 0.8;
}
.ulugo-vertex .ulugo-analysis-dot.ulugo-analysis-strength_4 {
  background: #f2f200;
}
.ulugo-vertex.ulugo-analysis-strength_3 .ulugo-analysis-overlay,
.ulugo-vertex .ulugo-analysis-overlay.ulugo-analysis-strength_3 {
  background: #e6661a;
  box-shadow: 0 0 0.1em 0.1em #e6661a;
  opacity: 0.7;
}
.ulugo-vertex .ulugo-analysis-dot.ulugo-analysis-strength_3 {
  background: #e6661a;
}
.ulugo-vertex.ulugo-analysis-strength_2 .ulugo-analysis-overlay,
.ulugo-vertex .ulugo-analysis-overlay.ulugo-analysis-strength_2 {
  background: #cc0000;
  box-shadow: 0 0 0.1em 0.1em #cc0000;
  opacity: 0.8;
}
.ulugo-vertex .ulugo-analysis-dot.ulugo-analysis-strength_2 {
  background: #cc0000;
}
.ulugo-vertex.ulugo-analysis-strength_1 .ulugo-analysis-overlay,
.ulugo-vertex .ulugo-analysis-overlay.ulugo-analysis-strength_1 {
  background: #72216b;
  box-shadow: 0 0 0.1em 0.1em #72216b;
  opacity: 0.7;
}
.ulugo-vertex .ulugo-analysis-dot.ulugo-analysis-strength_1 {
  background: #72216b;
}

.ulugo-vertex .ulugo-analysis-label {
  display: inline-block;
  height: auto;
  top: 50%;
  left: 50%;
  overflow: hidden;
  color: white;
  font-size: 0.36em;
  line-height: 1;
  text-align: center;
  text-overflow: clip;
  text-shadow: 0 0em 0.2em #000000;
  white-space: pre;
  opacity: 0.9;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.ulugo-vertex .ulugo-analysis-label_multiline {
  font-size: 0.32em;
}

/* Selection */

.ulugo-vertex .ulugo-selection {
  box-sizing: border-box;
  top: 0.04em;
  left: 0.04em;
  width: calc(100% - 0.08em);
  height: calc(100% - 0.08em);
  border: 0.05em solid var(--ulugo-board-foreground-color);
  border-radius: 50%;
  background: transparent;
  pointer-events: none;
}
.ulugo-vertex.ulugo-sign_1 .ulugo-selection {
  border-color: var(--ulugo-black-foreground-color);
}
.ulugo-vertex.ulugo-sign_-1 .ulugo-selection {
  border-color: var(--ulugo-white-foreground-color);
}
.ulugo-vertex.ulugo-selectedleft .ulugo-selection {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ulugo-vertex.ulugo-selectedright .ulugo-selection {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ulugo-vertex.ulugo-selectedtop .ulugo-selection {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.ulugo-vertex.ulugo-selectedbottom .ulugo-selection {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Move hints */

.ulugo-vertex .ulugo-movehint {
  box-sizing: border-box;
  top: 0.04em;
  left: 0.04em;
  width: calc(100% - 0.08em);
  height: calc(100% - 0.08em);
  border-radius: 50%;
  pointer-events: none;
}
.ulugo-vertex .ulugo-movehint-best {
  border: 0.075em solid #0878ff;
}
.ulugo-vertex .ulugo-movehint-next {
  border: 0.075em dotted var(--ulugo-board-foreground-color);
}
.ulugo-vertex.ulugo-nextmove_main .ulugo-movehint-next {
  border-style: dashed;
}
.ulugo-vertex.ulugo-nextmove-sign_1 .ulugo-movehint-next {
  border-color: #111;
}
.ulugo-vertex.ulugo-nextmove-sign_-1 .ulugo-movehint-next {
  border-color: #fff;
}

@media print {
  .ulugo-board,
  .ulugo-board * {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .ulugo-board::after,
  .ulugo-vertex:not(.ulugo-sign_0) .ulugo-stone::before {
    display: none !important;
  }

  .ulugo-stone-image {
    box-sizing: border-box;
    border-radius: 50%;
    background-image: none !important;
  }

  .ulugo-stone-image.ulugo-sign_1 {
    border: 0.04em solid #000000;
    background: #000000 !important;
  }

  .ulugo-stone-image.ulugo-sign_-1 {
    border: 0.04em solid #000000;
    background: #ffffff !important;
  }
}
