_i_*
node_modules

build
/packages/**/*.js
*.map
*.jsx
/temp
/release
/app/**/*.d.ts
/packages/**/*.d.ts
/packages/go-protocol
/tool/**/*.d.ts
/apps/web/dist
/apps/electron/dist
/apps/electron/analysis_logs
/gnugo/gnugo*
